In [ ]:
# Data processing
import pandas as pd

# Visualizations
import matplotlib.pyplot as plt
import seaborn as sns

# BigQuery API
from google.cloud import bigquery

#### 1. Download the IMDb dataset we previously scraped

In [83]:
import sys
PROJECT_ID = "ezhou1" #@param {type:"string"}
!gcloud config set project $PROJECT_ID
!gsutil cp -r gs://ezhou1-bucket1/imdb .

Updated property [core/project].
Copying gs://ezhou1-bucket1/imdb/movies.csv...
Copying gs://ezhou1-bucket1/imdb/movies_cleaned.csv...
Copying gs://ezhou1-bucket1/imdb/movies_cleaned.json...
/ [3 files][  4.8 MiB/  4.8 MiB]
Operation completed over 3 objects/4.8 MiB.

#### 2. Load IMDb data into BQ tables

In [ ]:
%env BASE_DIR=/ezhou1
dataset_id='imdb'

env: BASE_DIR=/ezhou1

In [ ]:
!bq --location=US mk --dataset $dataset_id

W0609 22:35:02.990003 140198942689088 bigquery_client.py:731] There is no apilog flag so non-critical logging is disabled.
Dataset 'ezhou1:imdb' successfully created.

In [50]:
!bq --location=US load --autodetect --source_format=CSV --encoding UTF-8 ezhou1:imdb.movie gs://ezhou1-bucket1/imdb/movies_cleaned.csv

W0609 23:19:58.328186 140184362997568 bigquery_client.py:731] There is no apilog flag so non-critical logging is disabled.
Waiting on bqjob_r71e13a898c704fdb_00000188a275a279_1 ... (1s) Current status: DONE

In [82]:
%%bigquery
WITH k AS (
  SELECT actors AS x FROM imdb.movie
)
SELECT 
  ARRAY(SELECT * FROM UNNEST(SPLIT(SUBSTR(x, LENGTH(x) - 2)))) AS x
FROM k

Query is running:   0%|          |

Downloading:   0%|          |

          x
0     [a']]
1     [a']]
2     [a']]
3     [n']]
4     [n']]
...     ...
4310  [a']]
4311  [a']]
4312  [s']]
4313  [s']]
4314  [s']]

[4315 rows x 1 columns]